/* adding the css reset */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset done */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
}

.heading {
  display: flex;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 100%;
}

.title {
  width: 70%;
}
.title > p {
  font-size: 1em;
}

.menuLogo {
  width: 15%;
}

.menuitems {
  width: 100%;
  display: none;
}

.breakline {
  display: none;
}

.dogimage {
  position: relative;
  width: auto;
  min-height: 300px;
  background-image: url(./resources/dog.jpg);
  background-size: cover;
  background-position: auto;
}

.imageText {
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.headline {
  position: relative;
  width: 100%;
  height: 8px;
}

.topNews {
  position: absolute;
  top: 0;
}

.more {
  position: absolute;
  top: 0;
  right: 0;
}

.line {
  top-margin: 10vh;
  border: 1px solid black;
  width: 100%;
}

.text {
  font-size: 0.8em;
}

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: rgb(163, 170, 179);
}

.weatherforecast {
  position: relative;
  width: 100%;
}

.location {
  display: flex;
  flex-direction: column;
}

.sunny {
  margin-top: -10px;
}

.todayTemperature {
  display: flex;
}

.weatherForWeek {
  display: flex;
  justify-content: space-around;
}

.align-text {
  text-align: center;
}

.latest-news-tab {
  display: flex;
  justify-content: space-between;
}

.latest-news {
  width: 100%;
}

.image-latest-news {
  width: 20%;
  float: left;
  margin: 0 5% 0 0;
}

.image-latest-news > img {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

hr {
  display: block;
  color: gray;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
  }
  .heading {
    order: 1;
    width: 100%;
  }

  .breakline {
    display: block;
    color: lightgray;
    order: 2;
    width: 100%;
  }

  .menuLogo {
    display: none;
  }
  .menuitems {
    width: 100%;
    order: 3;
    display: flex;
    justify-content: space-between;
  }
  .title > p {
    font-size: 2em;
    margin: 10%;
  }

  .dogimage {
    width: 45%;
    order: 4;
  }

  .dogimage > img {
    width: 100%;
  }

  .weatherforecast {
    width: 55%;
    order: 5;
  }

  .weatherforecast img {
    height: 50px;
    width: auto;
  }
  .headline {
    order: 6;
  }
  .allheadLines {
    order: 7;
    width: 100%;
  }
  .table {
    order: 8;
  }
  .latest-news-tab {
    order: 9;
    width: 100%;
  }
  .latestnewsBreakline {
    width: 100%;
    order: 10;
  }
  .latest-news {
    width: 100%;
    order: 10;
  }

  .footer-breakline1 {
    width: 100%;
    order: 11;
  }

  .footer {
    order: 12;
  }

  .footer-breakline2 {
    order: 13;
    width: 100%;
  }
  .latest-news-flex {
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .imageText {
    font-size: 0.9em;
    color: white;
  }
}

@media only screen and (min-width: 900px) {
  .menuLogo {
    display: none;
  }

  .imageText {
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 1);
    color: grey;
    height: 10%;
  }
  .menuitems {
    width: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .container {
    margin: 3em;
    width: 95%;
  }
  .breakline {
    display: block;
    color: gray;
    width: 100%;
    margin-top: 1.5em;
  }
  .title > p {
    font-size: 4em;
    margin-left: 2em;
  }

  .dogimage {
    width: auto;
    height: 30em;
    background-size: cover;
    background-position: -20%;
    margin: 0;
    border-style: solid;
    border-color: lightgray;
  }

  .headline {
    position: relative;
    width: 100%;
    height: 2em;
    margin-top: 1em;
    font-size: 1.5em;
  }
  .allheadLines {
    font-size: 1.5em;
  }

  .table {
    font-size: 1.5em;
    text-align: left;
  }

  .latest-news-tab {
    font-size: 1.5em;
  }

  .weatherforecast {
    margin: 0 0 3em 0;
  }

  tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
  }

  .location {
    font-size: 1.5em;
  }
  .todayTemperature {
    font-size: 1.5em;
  }

  .weatherForWeek {
    font-size: 1.5em;
  }
  .weatherforecast img {
    height: 7em;
    width: auto;
  }

  .footer {
    font-size: 1.5em;
    justify-content: space-between;
    width: 40%;
  }

  .latest-news-flex {
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    font-size: 3em;
  }

  .image-latest-news {
    width: 40%;
  }
}
